contourpy==1.3.2
cycler==0.12.1
filelock==3.13.1
flake8==7.2.0
fonttools==4.58.0
fsspec==2024.6.1
Jinja2==3.1.6
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.3
mccabe==0.7.0
mpmath==1.3.0
networkx==3.3
numpy==2.2.5
packaging==25.0
pillow==11.2.1
pycodestyle==2.13.0
pyflakes==3.3.2
pygame==2.6.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
six==1.17.0
sympy==1.13.3
torch==2.7.0+cpu
torchaudio==2.7.0+cpu
torchvision==0.22.0+cpu
typing_extensions==4.12.2
